<html lang="en">
<head>
  <title>Hike.</title>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="app/img/favicons/favicon.ico" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <link rel="stylesheet" href="../app/styles/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="row head">
    <div class="col-xs-2">
      <h2 class="head-title">Hike.</h2>
    </div>
    <div class="col-xs-6">
      <nav>
        <ul>
          <li role="presentation"><a href="../index" class="top-nav">HOME</a></li>
          <li role="presentation"><a href="../mountains" class="top-nav">MOUTAINS</a></li>
          <li role="presentation"><a href="../gear" class="top-nav">GEAR</a></li>
          <li role="presentation"><a href="../newsletter" class="top-nav">NEWSLETTER</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-2">
      <a class="i-nav">
        <img src="../app/images/i-nav.png" class="nav-icon" />
      </a>
      <div class="cart-button"><p class="cart">CART (1)</p></div>
    </div>
  </div>
  <div class="product-container pc1 row">
    <div class="product-image-container col-md-6">
      <div class="product-image">
        <p class="routes">shop / <%= data.title %></p>
        <br />
        <img src="<%= data.image %>">
      </div>
    </div>
    <div class="product-info-container col-md-6">
      <div class="product-info">
        <h1 class="product-title"><%= data.title %></h1>
        <div class="product-line"></div>
        <h3 class="product-price"><%= data.price %></h3>
        <p class="product-description"><%= data.description %></p>
        <button type="button" class="btn-sub-2 bt4">ADD TO CART</button>
        <br />
        <a href="share">Share</a>
      </div>
    </div>
  </div>
  <% include partials/footer.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="../app/scripts/menu.js" type="text/javascript"></script>
  <script src="../app/scripts/hike_data.js" type="text/javascript"></script>
</body>
</html>
